<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Urban Apparel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- style sheet -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main_site.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/profile.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/login-register.css" >
    <link rel="stylesheet" href="css/font-awesome.css">


    <!-- the starting scripts needed for our site -->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/jquery/jquery-ui.min.js"></script>
    <script src="js/globalVars.js"></script>
</head>

<body>
<div id="header">
    <!-- The functionality for our navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-fixed-top navbar-collapse collapse">
            <!-- Below is the left-hand side of our navbar -->
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown mega-dropdown">
                    <a href="/" class="nav_button dropdown-toggle" data-toggle="dropdown">Urban Apparel</a>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="/men" class="nav_button dropdown-toggle" data-toggle="dropdown">Men</a>
                    <ul class="dropdown-menu mega-dropdown-menu row dropdown-menu-right">
                        <div class="megamenu-headline">
                            <h2>Men's Apparel</h2>
                        </div>
                        <li class="divider"></li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">Tops</li>
                                <li class="men-cat-items"><a href="/men/shirts">Shirts</a></li>
                                <li class="men-cat-items"><a href="#">T-Shirts</a></li>
                                <li class="men-cat-items"><a href="#">Jackets</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">Bottoms</li>
                                <li class="men-cat-items"><a href="#">Jeans</a></li>
                                <li class="men-cat-items"><a href="#">Shorts</a></li>
                                <li class="men-cat-items"><a href="#">Socks </a></li>
                                <li class="men-cat-items"><a href="#">Shoes</a></li>
                                <li class="men-cat-items"><a href="#">Sleepwear</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <img id="dropdown_image" alt="" src="" ></img>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="/women" class="nav_button dropdown-toggle" data-toggle="dropdown">Women</a>
                    <ul class="dropdown-menu mega-dropdown-menu row dropdown-menu-right">
                        <div class="megamenu-headline">
                            <h2>Women's Apparel</h2>
                        </div>
                        <li class="divider"></li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Tops</li>
                                <li class="women-cat-items"><a href="/women/shirts">Shirts</a></li>
                                <li class="women-cat-items"><a href="#">Long sleeve</a></li>
                                <li class="women-cat-items"><a href="#">Jumper/Knit</a></li>
                                <li class="women-cat-items"><a href="#">Jackets</a></li>
                                <li class="women-cat-items"><a href="#">Intimates</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Bottoms</li>
                                <li class="women-cat-items"><a href="#">Jeans</a></li>
                                <li class="women-cat-items"><a href="#">Shorts</a></li>
                                <li class="women-cat-items"><a href="#">Skirts</a></li>
                                <li class="women-cat-items"><a href="#">Shoes</a></li>
                                <li class="women-cat-items"><a href="#">Socks</a></li>
                                <li class="women-cat-items"><a href="#">Sleepwear</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Dresses</li>
                                <li class="women-cat-items"><a href="#">Midi</a></li>
                                <li class="women-cat-items"><a href="#">Mini</a></li>
                                <li class="women-cat-items"><a href="#">Maxi</a></li>
                                <li class="women-cat-items"><a href="#">Sandals</a></li>
                                <li class="women-cat-items"><a href="#">Office Wear</a></li>
                                <li class="women-cat-items"><a href="#">Artificial Jewellery</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <img id="women_dropdown-img" alt="" src="" ></img>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Below is the right hand side of our navbar -->
            <ul class="nav navbar-nav navbar-right">

                <!-- The search bar/button functionality -->
                <li style="text-align: left" class="col-xs-12 col-sm-7 dropdown mega-dropdown">
                    <a class="nav_button dropdown-toggle">
                        <!-- Adds a search bar -->
                        <div class="inner-addon right-addon">
                            <i class="fa fa-search"></i>
                            <input placeholder="search" type="search" class="search-form-control" />
                        </div>
                    </a>
                </li>

                <!-- The shopping cart functionality -->
                <li style="text-align: right;" class="col-xs-12 col-sm-3 dropdown mega-dropdown">
                    <a id="kartNumber" href="#" class="nav_button dropdown-toggle fa fa-shopping-cart" data-toggle="dropdown"></a>

                    <ul class="dropdown-menu mega-dropdown-menu dropdown-cart dropdown-menu-right">
                        <div class="megamenu-headline">
                            <h2>Kart Items</h2>
                        </div>
                        <li class="divider"></li>

                        <li>
                            <ul class="col-sm-12" id="kart-display-header"></ul>
                        </li>
                        <li>
                            <ul class="col-sm-12" id="kart-view-cart-header"></ul>
                        </li>

                    </ul>
                </li>

                <li style="text-align: left;" class="col-xs-12 col-sm-2 dropdown mega-dropdown">
                    <a href="/login" class="login-register nav_button dropdown-toggle fa fa-user"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="advertisement">
        <li class="promo">
            <ul>
                <li class="sale">
                    <a >50% off store wide!!!*</a>
                </li>
                <li class="coupon">
                    <a >Use code: SHOPTILYOUDROP</a>
                </li>
            </ul>
        </li>
    </div>
</div>

<!-- Here is where we insert all other pages -->
{{{body}}}

<div id="footer">
    <div class="footer-section">
        <div class="account-info">

            <!-- Can't figure out how to get bullet point above title to disappear -->
            <li class="links">
                <ul>
                    <li class="top-link"><a href="/profile">MY ACCOUNT</a></li>
                    <li class="footer-links"><a href="#">FAVOURITES</a></li>
                    <li class="footer-links"><a href="#">ORDER HISTORY</a></li>
                    <li class="footer-links"><a href="#">CURRENT ORDER</a></li>
                </ul>
            </li>
        </div>

        <div class="about-section">
            <li class="links">
                <ul>
                    <li class="top-link"><a href="#">ABOUT</a></li>
                    <li class="footer-links"><a href="#">ABOUT US</a></li>
                    <li class="footer-links"><a href="#">PRESS & MEDIA</a></li>
                </ul>
            </li>
        </div>

        <div class="contact-info">

            <li class="links">
                <ul>
                    <li class="top-link"><a href="#">CONTACT</a></li>
                    <li class="footer-links"><a href="#">CONTACT US</a></li>
                    <li class="footer-links"><a href="#">HELP</a></li>
                    <li class="footer-links"><a href="#">FAQ</a></li>
                </ul>
            </li>
        </div>
        <div class="social-media">

            <li class="links">
                <ul>
                    <li class="top-link"><a href="#">SOCIAL MEDIA</a></li>
                    <!-- These links currently don't go to the correct websites-->
                    <a href="http//:www.facebook.com" target="_blank" class="icons">
                        <img id="fb-icon" src="images/facebook-icon.jpg"></img>
                    </a>
                    <a href="#" class="icons">
                        <img id="insta-icon" src="images/insta-logo.png"></img>
                    </a>
                    <a href="#" class="icons">
                        <img id="twitter-icon" src="images/twitter-logo.jpg"></img>
                    </a>
                    <a href="#" class="icons">
                        <img id="snapchat-icon" src="images/snapchat-logo.png"></img>
                    </a>
                </ul>
            </li>

        </div>
    </div>
</div>

<!-- The header .js file -->
<script src="js/header.js"></script>

</body>
</html>

