
<div class="men-top-selling">
    <p> Men's top selling items</p>

</div>

<div id="lhs-info-bar" class="men-sec-shirt">
    <div class="breadcrumb-bar">
        <a href="/">HOME</a> / <a style="color: #9d9d9d" id="cat-men"></a>
    </div>
</div>

<div id="category-item-display">

</div>


<script src="js/categories.js"></script>
