<script src="js/categories.js"></script>

<div id="cat-body">
    <div id="lhs-info-bar">
        <div class="breadcrumb-bar">
            <a href="/">HOME</a> / <a href="#">MEN</a> / SHIRTS
        </div>
        <div class="filter">
            <a href="#" class="filter-title">SHOP BY STYLE</a>
            <ul>
                <li><a href="#" class="filter-content">Casual</a></li>
                <li><a href="#" class="filter-content">Formal</a></li>
                <li><a href="#" class="filter-content">Work</a></li>
            </ul>
            <a href="#" class="filter-title">SHOP BY BRAND</a>
            <ul>
                <li><a href="#" class="filter-content">Calvin Klein</a></li>
                <li><a href="#" class="filter-content">Tommy Hilfiger</a></li>
                <li><a href="#" class="filter-content">Country Road</a></li>
                <li><a href="#" class="filter-content">Lacoste</a></li>
                <li><a href="#" class="filter-content">More brands</a></li>
            </ul>
            <a href="#" class="filter-title">SHOP BY PRICE</a>
            <ul>
                <li><a href="#" class="filter-content">$5-$50</a></li>
                <li><a href="#" class="filter-content">$50-$100</a></li>
                <li><a href="#" class="filter-content">$100-$500</a></li>
                <li><a href="#" class="filter-content">$500-$1000</a></li>
            </ul>
        </div>
    </div>
<!--
    <div id="#rhs-display-items">
        <div class="item1">
            <a href="men-shirt1.html">
                <img class="shirt" src="images/men-shirt1.jpg">
                <img class="shirta" src="images/men-shirt1a.jpg">
                <h4>BABYBLUE CLASSIC CREW</h4>
                $150
            </a>
        </div>
        <div class="item2">
            <a href="#">
                <img class="shirt" src="images/men-shirt2.jpg">
                <img class="shirta" src="images/men-shirt2.jpg">
                <h4>WHITE CLASSIC POLO</h4>
                $120
            </a>
        </div>
        <div class="item3">
            <a href="#">
                <img class="shirt" src="images/men-shirt3.jpg">
                <img class="shirta" src="images/men-shirt3.jpg">
                <h4>BLUE CLASSIC DENIM</h4>
                $170
            </a>
        </div>
    </div>-->


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_fjords.jpg">
                <img src="img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="img_forest.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>