<div id="main-body">

    <div id="header-flash-image">
        <img id="top-banner-images" src="images/banner1.jpg">
    </div>

    <!-- Want to try get it looking like below -->
    <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity -->
    <div class="category">
        <a href="#" class="women">WOMEN</a>
        <a href="#" class="men">MEN</a>
        <!-- Should add in a kids category, and maybe a fourth category
             The images might also change? Not sure if necessary though -->

        <div class="ad">

            <a href="#">
                <img class="ad1" src="images/ad1.jpg">
            </a>
            <a href="#">
                <img class="ad2" src="images/ad2.jpg">
            </a>
        </div>
    </div>
</div>
