doctype html
//
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
html
  head
    title The Online Shopping Experience
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // the starting scripts needed for our site
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/jquery.min.js')
    // style sheet
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main_site.css')
  body
    #header
      #header-flash-image
        img#top-banner-images(src='/images/stock-photo-200657659.jpg')
      #header-container
        #empty
        nav.navbar.navbar-default
          .collapsable-navbar
            ul.nav.navbar-nav
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#', data-toggle='') Home
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#', data-toggle='') Menu
                ul.dropdown-menu.mega-dropdown-menu.row
                  .megamenu-headline
                    h2 Shop
                  li.divider
                  li.col-sm-3
                    ul
                      li.dropdown-header Men
                      li.men-cat-items
                        a(href='men-shoes.html') Shoes
                      li.men-cat-items
                        a(href='men-tops.html') Tops
                      li.men-cat-items
                        a(href='men-pants.html') Pants
                      li.men-cat-items
                        a(href='men-formal') Formal
                  li.col-sm-3
                    ul
                      li.dropdown-header Women
                      li.women-cat-items
                        a(href='#') Shoes
                      li.women-cat-items
                        a(href='#') Tops
                      li.women-cat-items
                        a(href='#') Pants
                      li.women-cat-items
                        a(href='#') Suits
                  li.col-sm-3
                    ul
                      li.dropdown-header Kids
                      li.kids-cat-items
                        a(href='#') Shoes
                      li.kids-cat-items
                        a(href='#') Tops
                      li.kids-cat-items
                        a(href='#') Pants
                      li.kids-cat-items
                        a(href='#') Suits
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#', data-toggle='')
                  | Orders
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#', data-toggle='')
                  | Kart
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#', data-toggle='') Login
    #main-body
      #flashing-images  flash as images to go here 
      #latest-catalog  the latest catalog to go here 
      #bottom-header
        nav.help-buttons
          ul
            li Help
            li Contact
    script(src='/javascripts/main_site.js')
