<div id="profile-container-page" style="width: 100%; display: table;">
    <div style="display: table-row">

        <div id="profile-body" style="width: 33%; display: table-cell;">
            <!-- Build the user profile here, with a log out button -->

            <div class="profile-lhs-container">

                <div class="row profile-row profile-main-view">
                    <div class="col-xs-3 col-sm-12">

                        <!--the button is in line with the image, if there is one-->
                        <img class="profile-image" src="">

                    </div>

                    <div class="col-xs-2 col-sm-12">
                        <div classs="profile-buttons-container">
                            <button id="profile-history-button" type="button" class="btn btn-info btn-block">History</button>

                            <h3 class="profile-user-name"></h3>
                        </div>

                        <ul class="profile-details">
                            <li>
                                <div></div>
                            </li>
                            <li>
                                <div> </div>
                            </li>
                        </ul>

                        <div class="form-inline">
                            <button id="profile-edit-btn" class="btn btn-block" type="button">edit</button>
                            <h3>Contact Information</h3>
                        </div>

                        <ul class="profile-details">
                            <li>
                                <div><i class="fa fa-envelope"></i> e-mail</div>
                                <h4 class="profile-user-email"></h4>
                            </li>
                            <li>
                                <div><i class="fa fa-map-marker"></i> address</div>
                                <h4 class="profile-user-address"></h4>
                            </li>
                        </ul>
                    </div>

                    <div style="margin-top: 10px;" class="col-xs-5 col-sm-12 flash-messages">
                        {{#if success_msg}}
                            <div class="alert alert-success">{{success_msg}}</div>
                        {{/if}}
                        {{#if error_msg}}
                            <div class=" alert alert-danger">{{error_msg}}</div>
                        {{/if}}
                        {{#if error}}
                            {{#each error}}
                                <div class=" alert alert-danger">{{msg}}</div>
                            {{/each}}
                        {{/if}}
                    </div>

                    <div class="col-xs-2 col-sm-12">
                        <a href="/logout" class="btn btn-danger btn-block">Logout</a>
                    </div>

                </div>



                <div hidden="true" class="row profile-row profile-main-edit-view">
                    <form id="user-info-update-form" method="post" action="/profile" class="form-horizontal">
                        <fieldset form="user-info-update-form" class="fieldset-box">
                            <!-- Address form -->
                            <div class="form-inline">
                                <button id="profile-back-btn" class="btn btn-block btn-danger" type="button">Back</button>
                                <h2>Edit Profile</h2>
                            </div>

                            <!-- first-name input-->
                            <div class="control-group">
                                <label class="control-label">First Name</label>
                                <div class="controls">
                                    <input id="profile-first-name" name="first_name" type="text" placeholder="first name"
                                           class="input-xlarge search-form-control " />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <!-- last-name input-->
                            <div class="control-group">
                                <label class="control-label">Last Name</label>
                                <div class="controls">
                                    <input id="profile-last-name" name="last_name" type="text" placeholder="last name"
                                           class="input-xlarge search-form-control" />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Mobile No.</label>
                                <div class="controls">
                                    <input id="profile-mobile" name="mobile" type="text" placeholder="mobile no."
                                           class="input-xlarge search-form-control" />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <!-- address input-->
                            <div class="control-group">
                                <label class="control-label">Address</label>
                                <div class="controls">
                                    <textarea id="profile-address" name="address" placeholder="Address" type="text"
                                              class="input-xlarge search-form-control"></textarea>
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Email</label>
                                <div class="controls">
                                    <input id="profile-email" name="email" placeholder="Email" type="text"
                                              class="input-xlarge search-form-control" />
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success btn-block">Update Info</button>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>

        <div class="profile-rhs-container" style="display: table-cell;">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>

                <tbody id="kart-display-profile">
                    <!-- Add items in here via javascript -->
                </tbody>

                <tfoot>
                    <tr class="visible-xs">
                        <td class="text-center kart-total-price"><strong></strong></td>
                    </tr>
                    <tr>
                        <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center kart-total-price"><strong></strong></td>
                        <td><a href="#" class="btn btn-success btn-block profile-checkout-button">Checkout <i class="fa fa-angle-right"></i></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

<script src="js/profile.js"></script>
