<div id="cat-body">


    <div id="lhs-info-bar" class="men-sec-shirt">
        <div class="breadcrumb-bar">
            <a href="/">HOME</a> / <a href="/category_men" id="cat-men" onclick="dispMenAll()">MEN</a> <a id="men-shirt"> / SHIRTS</a>
        </div>
        <div class="filter">
            <a href="#" class="filter-title">SHOP BY STYLE</a>
            <ul id="display-men-shirts">
                <li><a href="#" class="filter-content" onclick="dispMenCas()">Casual</a></li>
                <li><a href="#" class="filter-content" onclick="dispMenForm()">Formal</a></li>
                <li><a href="#" class="filter-content">Work</a></li>
            </ul>
            <a href="#" class="filter-title">SHOP BY BRAND</a>
            <ul id="display-men-shirts">
                <li><a href="#" class="filter-content">Calvin Klein</a></li>
                <li><a href="#" class="filter-content">Tommy Hilfiger</a></li>
                <li><a href="#" class="filter-content">Country Road</a></li>
                <li><a href="#" class="filter-content">Lacoste</a></li>
                <li><a href="#" class="filter-content">More brands</a></li>
            </ul>
            <a href="#" class="filter-title">SHOP BY PRICE</a>
            <ul id="display-men-shirts">
                <li><a href="#" class="filter-content">$5-$50</a></li>
                <li><a href="#" class="filter-content">$50-$100</a></li>
                <li><a href="#" class="filter-content">$100-$500</a></li>
                <li><a href="#" class="filter-content">$500-$1000</a></li>
            </ul>
        </div>
    </div>


    <div id="men-casual" class="men-cas">
        <div class="responsive">
            <div class="gallery">
                <a href="#" onclick="dispMenCas1()">
                    <img src="images/men-shirt1.jpg" width="300" height="200">
                </a>
                <div class="desc">MEN CASUAL</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a href="#">
                    <img src="images/men-shirt2.jpg" width="600" height="400">
                </a>
                <div class="desc">MEN CASUAL</div>
            </div>
        </div>

        <div class="responsive" >
            <div class="gallery">
                <a href="#">
                    <img src="images/men-shirt3.jpg" width="600" height="400">
                </a>
                <div class="desc">MEN CASUAL</div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div id="men-formal" class="men-form">
        <div class="responsive">
            <div class="gallery">
                <a href="#">
                    <img src="images/men-shirt1.jpg" width="300" height="200">
                </a>
                <div class="desc">MEN FORMAL</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a href="#">
                    <img src="images/men-shirt2.jpg" width="600" height="400">
                </a>
                <div class="desc">MEN FORMAL</div>
            </div>
        </div>

        <div class="responsive" >
            <div class="gallery">
                <a href="#">
                    <img src="images/men-shirt3.jpg" width="600" height="400">
                </a>
                <div class="desc">MEN FORMAL</div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>



<div id="men-casual-top1" class="men-cas-top1">
    <div class="men-img1">
        <img src="images/men-shirt1.jpg">

    </div>

    <div class="add-to-cart">
        <a>Add to cart!</a>
    </div>

    <div class="men-img1-description">
        <p>$120 (get price from db)</p>
        <p>(get description from db)</p>
        <p>out of stock? get info from db</p>
        <p>Product code</p>
        <p> </p>
    </div>

</div>




<script src="js/sub_category.js"></script>