<div id="cat-body">


    <div id="lhs-info-bar" class="men-sec-shirt">
        <div class="breadcrumb-bar">
            <a href="/">HOME</a> / {{#if callback}} <a name="{{callback}}" id="cat-gender-call" style="color: #9d9d9d;">{{gender}}</a> / <a name="{{callback}}" id="cat-subcat" style="color: #9d9d9d;">{{subcat}}</a>{{/if}}
        </div>
        <div class="filter">
            <a href="#" class="filter-title">SHOP BY STYLE</a>
            <ul id="display-men-shirts">
                <li><a href="#" class="filter-content" onclick="dispMenCas()">Casual</a></li>
                <li><a href="#" class="filter-content" onclick="dispMenForm()">Formal</a></li>
                <li><a href="#" class="filter-content">Work</a></li>
            </ul>
            <a href="#" class="filter-title">SHOP BY BRAND</a>
            <ul id="display-men-shirts">
                <li><a href="#" class="filter-content">Calvin Klein</a></li>
                <li><a href="#" class="filter-content">Tommy Hilfiger</a></li>
                <li><a href="#" class="filter-content">Country Road</a></li>
                <li><a href="#" class="filter-content">Lacoste</a></li>
                <li><a href="#" class="filter-content">More brands</a></li>
            </ul>
            <a href="#" class="filter-title">SHOP BY PRICE</a>
            <ul id="display-men-shirts">
                <li><a href="#" class="filter-content">$5-$50</a></li>
                <li><a href="#" class="filter-content">$50-$100</a></li>
                <li><a href="#" class="filter-content">$100-$500</a></li>
                <li><a href="#" class="filter-content">$500-$1000</a></li>
            </ul>
        </div>
    </div>

    <div id="category-item-display">
        <table id="cart" class="table table-hover table-condensed">
            <tbody id="catpage-display-items">
            <!-- Add items in here via javascript -->
            </tbody>
        </table>
    </div>

    <div class="gender-cas">
        <a href="#" >
            <img id="category-img1" src="/images/men-shirt1.jpg" alt=""  >
        </a>
        <div class="desc1">
            <a id="item-name1" style="font-size: 20px"></a>
        </div>
        <div class="desc1">
            <a id="item-price1"></a>
        </div>

        <button id="add-to-cart-btn" type="button" class="btn btn-block btn-danger">Add To Cart</button>
    </div>

    <!--<div id="category-item-display">-->

        <!--&lt;!&ndash;<table id="cart" class="table table-hover table-condensed">-->
            <!--<tbody id="catpage-display-items">-->
            <!--&lt;!&ndash; Add items in here via javascript &ndash;&gt;-->
            <!--</tbody>-->
        <!--</table>&ndash;&gt;-->
    <!--</div>-->

    <!--&lt;!&ndash;<div id="men-casual" class="men-cas">-->
        <!--<div class="responsive">-->
            <!--<div class="gallery">-->
                <!--<a href="#" onclick="dispMenCas1()">-->
                    <!--<img src="images/men-shirt1.jpg" width="300" height="200">-->
                <!--</a>-->
                <!--<div class="desc">MEN CASUAL</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="responsive">-->
            <!--<div class="gallery">-->
                <!--<a href="#">-->
                    <!--<img src="images/men-shirt2.jpg" width="600" height="400">-->
                <!--</a>-->
                <!--<div class="desc">MEN CASUAL</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="responsive" >-->
            <!--<div class="gallery">-->
                <!--<a href="#">-->
                    <!--<img src="images/men-shirt3.jpg" width="600" height="400">-->
                <!--</a>-->
                <!--<div class="desc">MEN CASUAL</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="clearfix"></div>-->
    <!--</div>-->

    <!--<div id="men-formal" class="men-form">-->
        <!--<div class="responsive">-->
            <!--<div class="gallery">-->
                <!--<a href="#">-->
                    <!--<img src="images/men-shirt1.jpg" width="300" height="200">-->
                <!--</a>-->
                <!--<div class="desc">MEN FORMAL</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="responsive">-->
            <!--<div class="gallery">-->
                <!--<a href="#">-->
                    <!--<img src="images/men-shirt2.jpg" width="600" height="400">-->
                <!--</a>-->
                <!--<div class="desc">MEN FORMAL</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="responsive" >-->
            <!--<div class="gallery">-->
                <!--<a href="#">-->
                    <!--<img src="images/men-shirt3.jpg" width="600" height="400">-->
                <!--</a>-->
                <!--<div class="desc">MEN FORMAL</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="clearfix"></div>-->
    <!--</div>&ndash;&gt;-->
<!--</div>-->


<!--&lt;!&ndash;-->
<!--<div id="men-casual-top1" class="men-cas-top1">-->
    <!--<div class="men-img1">-->
        <!--<img src="images/men-shirt1.jpg">-->

    <!--</div>-->

    <!--<div class="add-to-cart">-->
        <!--<a>Add to cart!</a>-->
    <!--</div>-->

    <!--<div class="men-img1-description">-->
        <!--<p>$120 (get price from db)</p>-->
        <!--<p>(get description from db)</p>-->
        <!--<p>out of stock? get info from db</p>-->
        <!--<p>Product code</p>-->
        <!--<p> </p>-->
    <!--</div>-->

<!--</div>&ndash;&gt;-->




<script src="js/sub_category.js"></script>