/*
 * This css file contains all the styles for our header, this must be included
 * on all pages that wish to have the menu bar
 */

#header {
    height: auto;
}
.navbar {
    background: #fff;
    border: 0px;
    margin: 0px;
}

.navbar-default,
.navbar-left > li > a,
.navbar-right > li > a,
.nav-justified > li > a {
    /* changes the size of the buttons */
    font-weight: bold;
}

/* changes the color of the buttons
 * in the navbar */
.navbar-default,
.navbar-left > li > a,
.navbar-right > li > a,
.nav-justified > li > a {
    color: #000;
}

/* takes away our hover color */
.navbar-default,
.navbar-left > li > a:hover,
.navbar-right > li > a:hover,
.nav-justified > li > a:hover {
    background: #fff;
}

/* Controls inside the dropdown menu, borders etc */
.navbar-left > li > .dropdown-menu,
.navbar-right > li > .dropdown-menu,
.nav-justified > li > .dropdown-menu {
    margin-top: 0px;
    border: 0px;
}

/* This ensures our dropdown can consume the entire
 * width of the screen */
.mega-dropdown {
    position:  static !important;/*width:100%;*/
}

/* Inside the drop down, changes all the
 * li elements to not have any effects */
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}


.megamenu-headline {
    padding: 0 32px;
}

/* Controls the color scheme inside the drop down
 * menu */
.mega-dropdown-menu > li > ul > li > a {
    clear: both;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

/* Controls the Sub menu header
 * inside the dropdown menu */
.mega-dropdown-menu .dropdown-header {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
}

/*
 * Controls the dropdown menu and takes away the
 * shadow of the drop-down menu
 */
.mega-dropdown-menu {
    /* The size of our drop down menu
     * the height and width is controlled by jquery
     * in main_site.js */
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    max-height: 400px;
}

.nav_button {
    text-transform: uppercase;
}

.nav_button,
.dropdown-toggle {
    padding: 0px;
    background: inherit;
    border: 0px;
}

#shopping-kart-images {
    height: 20px;
}

/*
 * When the screen is to small, we add the scrollbar
 * so the text doesn't overflow into main page
 */
.row {
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

.collapse {
    background: inherit;
}

/*
 * All below controls our search bar functionality
 */
.search-form-control {
    height: 12px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    background: inherit;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
    outline: none;
    text-outline: none;
}

/* style icon */
.inner-addon .fa-search {
    position: absolute;
    padding: 4px 8px;
}

/* align icon */
.left-addon .fa-search  {
    left:  0px;
}

.right-addon .fa-search {
    right: -40px;
}

/* add padding  */
.left-addon input  {
    padding-left:  30px;
}

.right-addon input {
    padding-right: 30px;
}

.ui-dialog-titlebar-close {
    -webkit-box-shadow: none;
    visibility: hidden;
}

/* DROPDOWN CART FROM HERE ON OUT */
ul.dropdown-cart{
    min-width: 35%;
    overflow: scroll;
    overflow-x: hidden;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
#kart-item-img {
    height: 30px;
    width: 30px;
}