/* This CSS file is for the pages with items to display */

#cat-body {
    width: 100%;
}

#lhs-info-bar {
    width: 25%;
}

#rhs-display-items {
    width: 75%;
}

.breadcrumb-bar{
    padding-left: 2%;
    position: relative;
    margin-left: 12.5%;
    /*width: 20%;*/
    height: 5%;
}

.breadcrumb-bar a{
    color: black;
    font-weight: bold;

}

.breadcrumb-bar a:hover{
    color: gray;
    text-decoration: none;
}

.filter{
    padding-left: 2%;
    margin-left: 12.5%;
    position: relative;
    /*width:20%;*/
    height: 60%;

}

.filter a {
    color: black;
}

.filter a:hover{
    color: gray;
    text-decoration: none;
}

.filter-title {
    font-weight: bold;
}

.filter li{
    list-style: circle;
}
/*

.item1{
    width: 20%;
    height: 50%;
    margin-left: 25%;
    margin-top: -10%;
}

.item1 a, .item2 a, .item3 a{
    color: black;
}

.item1 a:hover, .item2 a:hover, .item3 a:hover{
    color: gray;
    text-decoration: none;
}

.item2{
    width:20%;
    height:50%;
    margin-left: 50%;
    margin-top: -10%;

}

.item3{
    width:20%;
    height:50%;
    margin-left: 75%;
    margin-top: -10%;

}

.shirt{
    width: 100%;
}

.shirta{
    width: 100%;
    margin-top: -158.3%;
}

.shirt:hover{
    opacity: 0.5;
}

.shirta:hover{
    opacity:0;

}

.men-shirt1{
    width: 30%;
    height: 50%;
    margin-left: 25%;
    margin-top: -10%;
}

.men-shirt{
    width: 100%;
}

.item-title {
    margin-left: 57%;
    margin-top: -28%;

}*/
.men-cas, .men-form{
    margin-left: 300px;
    margin-top: -300px;
}

div.gallery:hover {
    opacity: 0.7;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#men-casual {
    display: none;
}

#men-formal {
    display: none;
}