/*
 * This css file contains all the styles for our header, this must be included
 * on all pages that wish to have the menu bar
 */

.navbar {
    background: #fff;
    border: 0px;
    margin: auto;
}

.navbar-default,
.nav-justified > li > a {
    /* changes the size of the buttons */
    font-weight: bold;
}

/* changes the color of the buttons
 * in the navbar */
.navbar-default,
.nav-justified > li > a {
    color: #000;
}

/* takes away our hover color */
.navbar-default,
.nav-justified > li > a:hover {
    background: #fff;
}

/* Controls inside the dropdown menu, borders etc */
.nav-justified > li > .dropdown-menu {
    margin-top: 0px;
    border: 0px;
}

/* This ensures our dropdown can consume the entire
 * width of the screen */
.mega-dropdown {
    position: static !important;/*width:100%;*/
}

/* Inside the drop down, changes all the
 * li elements to not have any effects */
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}


.megamenu-headline {
    padding: 0 32px;
}

/* Controls the color scheme inside the drop down
 * menu */
.mega-dropdown-menu > li > ul > li > a {
    clear: both;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

/* Controls the Sub menu header
 * inside the dropdown menu */
.mega-dropdown-menu .dropdown-header {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
}

/*
 * Controls the dropdown menu and takes away the
 * shadow of the drop-down menu
 */
.mega-dropdown-menu {
    /* The size of our drop down menu
     * the height and width is controlled by jquery
     * in main_site.js */
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.nav_button {
    text-transform: uppercase;
}

/*
 * When the screen is to small, we add the scrollbar
 * so the text doesn't overflow into main page
 */
.row {
    overflow: scroll;
}