
/* This CSS file is for the pages with items to display */

.item1{
    width: 20%;
    height: 50%;
    margin-left: 25%;
    margin-top: -10%;
}

.item2{
    width:20%;
    height:50%;
    margin-left: 50%;
    margin-top: -27.2%;

}

.item3{
    width:20%;
    height:50%;
    margin-left: 75%;
    margin-top: -27.2%;

}

.shirt{
    width: 100%;
}

.shirt:hover{
    opacity: 0.5;

}
